body, html {
  background: rgb(48, 95, 114);
  background: linear-gradient(111deg, rgba(48, 95, 114, 1) 50%, rgba(40, 83, 101, 1) 50%);
  height: 100%;
  width: 100%;
  font-family: "Oxanium" !important;
  user-select: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  scrollbar-width: thin;
}

.close {
  color: rgba(169, 169, 169, 1.0);
  border-radius: 50%;
  background: rgba(241, 241, 241, 1.0);
  height: 30px;
  width: 30px;
  text-align: center;
  line-height: 32px;
  font-size: 18px;
  cursor: pointer;
  transition: all 0.1s ease-in-out;
}

.close:hover {
  color: rgb(99, 91, 92);
  background: rgba(230, 230, 230, 1.0);
}

.modal.fade .modal-dialog {
  -webkit-transform: scale(0.7);
  -moz-transform: scale(0.7);
  -ms-transform: scale(0.7);
  transform: scale(0.7);
  opacity: 0;
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}

.modal.fade.show .modal-dialog {
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  opacity: 1;
}

.modal-header {
  padding: 10px 1rem;
}

h6, .h6, h5, .h5, h4, .h4, h3, .h3, h2, .h2, h1, .h1 {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 500;
  line-height: 1.2;
}

.modal-header .close {
  padding: 0;
  margin: 0;
}

.game-plot {
  position: relative;
  margin: 0 auto;
  border: 2px solid outset;
}

.block {
  float: left;
  border-radius: 3px;
  background-color: #f18c8e;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 50;
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  cursor: pointer;
  box-shadow: inset 1px 1px 2px rgb(255 255 255 / 40%), 1px 1px 1px 1px rgba(0, 0, 0, 0.205);
}

.game-plot.shuffled .block {
  transition: all 100ms ease;
}

.blank {
  background-color: rgba(0, 0, 0, 0);
  z-index: 49;
  opacity: 0 !important;
}

.browse-file {
  position: relative;
  background-color: rgba(0, 0, 0, 0.144);
  text-align: center;
  vertical-align: middle;
  padding: 10px;
  color: #f1d1b5;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  font-size: 10px;
  height: 100px;
  width: 100px;
}

.browse-file:hover {
  background-color: rgba(0, 0, 0, 0.295);
  text-shadow: 0px 0px 5px #f1d1b5;
}

.browse-file p {
  white-space: break-spaces;
}

.title {
  font-family: "Oxanium Bolder";
  color: aliceblue;
  margin-top: 10px;
  margin-bottom: 10px;
}

.shuffle-loader {
  border-radius: 3px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  backdrop-filter: blur(5px);
}

.matrix-size {
  float: left;
  margin: 5px;
  padding: 10px 16px;
  border-radius: 10px;
  border: 2px solid #f1d1b5;
  color: #f1d1b5;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.matrix-size:hover {
  background-color: #f1d1b54b;
}

.matrix-size.active {
  background-color: #f1d1b557;
  box-shadow: 2px 2px 15px #ffffff8f;
  border-color: white;
  color: white;
}

.custom-radio {
  float: left;
  /* border: 1px solid #f1d1b5; */
  border-radius: 5px;
  margin: 10px;
}

.custom-radio .container {
  display: block;
  position: relative;
  padding-left: 32px;
  padding-right: 0px;
  padding-top: 2px;
  padding-bottom: 0px;
  margin-bottom: 0px;
  margin: 5px;
  font-size: 15px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-weight: 600;
  color: #f1d1b5;
  cursor: pointer;
  transition: all 0.5s;
}

.custom-radio .container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #f1d1b57a;
  border-radius: 50%;
  transition: all 0.5s;
}

.custom-radio .container:hover input~.checkmark {
  background-color: #f1d1b57a;
}

.custom-radio .container input:checked~.checkmark {
  background-color: #f1d1b5;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.custom-radio .container input:checked~.checkmark:after {
  display: block;
}

.custom-radio .container .checkmark:after {
  top: 5px;
  left: 5px;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: #f1d1b5;
  box-shadow: 0px 0px 5px 5px #ffffff;
  transition: all 0.5s;
}

.default-image-selector {
  height: 187px;
  width: 100%;
  white-space: nowrap;
  overflow-x: auto;
  overflow-y: hidden;
  display: flex;
  padding: 30px 10px;
  flex-wrap: nowrap;
  border: 1px solid #f1d1b5;
  transition: all 0.2s ease;
}

.default-image-selector .image {
  position: relative;
  float: left;
  margin: 5px;
  padding: 5px;
  border: 2px solid #568ea6;
  flex: 0 0 auto;
  cursor: pointer;
  height: 114px;
  width: 114px;
  transition: all 0.2s;
}

.default-image-selector .image:hover {
  border: 2px solid white;
  /* height: 124px;
  width: 124px; */
}

.default-image-selector .image:hover img {
  /* height: 110px;
  width: 110px; */
}

.default-image-selector .image.active {
  border: 2px solid #ffffff;
  background-color: #f1d1b556;
  box-shadow: 0px 0px 10px 3px #f1d1b57e;
  height: 124px;
  width: 124px;
}

.default-image-selector .image.active img {
  height: 110px;
  width: 110px;
}

.default-image-selector .image img {
  height: 100px;
  width: 100px;
  transition: all 0.2s;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  border-radius: 5px;
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  border-radius: 5px;
  border: 2px solid transparent;
  background-color: rgba(85, 140, 163, 1.0);
  background-clip: content-box;
}

.crop-image-area {
  position: fixed;
  top: 0px;
  left: 0px;
  padding: 10px;
  background: rgb(0 0 0 / 73%);
  height: calc(100vh - 0%);
  padding-top: 50px;
}

.remove-browse-file {
  position: absolute;
  top: 0;
  right: 0;
  background: #ffffffba;
  height: 30px;
  width: 30px;
  font-size: 16px;
  line-height: 33px;
  text-align: center;
  color: #c33737;
  cursor: pointer;
  transition: all 0.1s ease;
}

.remove-browse-file:hover {
  background: #ffffffea;
  color: #eb2929;
}

.btn-primary {
  background: #f18c8e;
  border-color: #f1d1b5;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active {
  color: #fff;
  border-color: #f1d1b5;
  background: #f18c8e;
  box-shadow: 0 0 0 0.2rem #f18c8e8a;
}

.btn-primary.disabled, .btn-primary:disabled {
  color: #fff;
  background-color: #f18c8e;
  border-color: #f18c8e;
  cursor: no-drop;
}

.timer {
  height: 80px;
  font-size: 26px;
  color: #f0b7a4;
  padding: 20px 40px;
  font-weight: 600;
  text-shadow: 0 0 5px rgba(240, 183, 164, 0.50);
}

.moves {
  height: 80px;
  font-size: 20px;
  color: white;
  padding: 20px 40px;
  text-shadow: 0 0 5px rgba(255, 255, 255, 0.50);
}