body, html {
  background: rgb(48, 95, 114);
  background: linear-gradient(111deg, rgba(48, 95, 114, 1) 50%, rgba(40, 83, 101, 1) 50%);
  height: 100%;
  width: 100%;
  font-family: "Oxanium" !important;
  user-select: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.close {
  color: rgba(169, 169, 169, 1.0);
  border-radius: 50%;
  background: rgba(241, 241, 241, 1.0);
  height: 30px;
  width: 30px;
  text-align: center;
  line-height: 32px;
  font-size: 18px;
  cursor: pointer;
  transition: all 0.1s ease-in-out;
}

.close:hover {
  color: rgb(99, 91, 92);
  background: rgba(230, 230, 230, 1.0);
}

.modal.fade .modal-dialog {
  -webkit-transform: scale(0.7);
  -moz-transform: scale(0.7);
  -ms-transform: scale(0.7);
  transform: scale(0.7);
  opacity: 0;
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}

.modal.fade.show .modal-dialog {
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  opacity: 1;
}

.modal-header {
  padding: 10px 1rem;
}

h6, .h6, h5, .h5, h4, .h4, h3, .h3, h2, .h2, h1, .h1 {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 500;
  line-height: 1.2;
}

.modal-header .close {
  padding: 0;
  margin: 0;
}

.game-plot {
  position: relative;
  margin: 0 auto;
  border: 2px solid outset;
}

.block {
  float: left;
  border-radius: 3px;
  background-color: #f18c8e;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 50;
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  cursor: pointer;
  box-shadow: inset 1px 1px 2px rgb(255 255 255 / 40%), 1px 1px 1px 2px rgba(0, 0, 0, 0.205);
}

.game-plot.shuffled .block {
  transition: all 100ms;
}

.blank {
  background-color: rgba(0, 0, 0, 0);
  z-index: 49;
  opacity: 0 !important;
}

.browse-file {
  height: 85px;
  width: 100%;
  margin: 0 auto;
  position: relative;
  background-color: rgba(0, 0, 0, 0.144);
  margin-top: 50px;
  border-radius: 10px;
  text-align: center;
  vertical-align: middle;
  padding: 10px;
  color: #f1d1b5;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}

.browse-file:hover {
  background-color: rgba(0, 0, 0, 0.295);
  text-shadow: 0px 0px 5px #f1d1b5;
}

.title {
  font-family: "Oxanium Bolder";
  color: aliceblue;
  margin-top: 10px;
  margin-bottom: 10px;
}

.shuffle-loader {
  border-radius: 3px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  backdrop-filter: blur(5px);
}